<?xml version="1.0" encoding="UTF-8" ?>
<routes>
    <route url="/" module="Pages" action="home"></route>
    <route url="/about" module="Pages" action="about"></route>
    <route url="/contact" module="Pages" action="contact"></route>

    <route url="/posts" module="Posts" action="index"></route>

    <route url="/register" module="Users" action="register"></route>
    <route url="/login" module="Users" action="login"></route>
    <route url="/confirm-([a-zA-Z0-9]+).html" module="Users" action="confirmAccount" vars="token"></route>
    <route url="/profil" module="Users" action="profil"></route>

    <route url="/post-([0-9]+)\.html" module="Posts" action="show" vars="id"></route>
    <route url="/comment-([0-9]+)\.html" module="Posts" action="insertComment" vars="post_id" />

    <route url="/logout\.html" module="Posts" action="logout" />
</routes>